.flash-box
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name aaa
        
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            %i.fa.fa-edit
          %li.side-header__box__menu__new-group
            %i.fa.fa-cogf
    .groups
      .group
        %p.group__group-name test
        %p.group__latest-message r
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "#{@group.id}"} #{@group.name}
        %ul.main-header__left-box__member 
          Member: 
          - @group.users.each do|user|
            %li.main-header__left-box__member__list #{user.name}
      = link_to edit_group_path(@group) do
        .main-header__edit-btn Edit
        
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon "picture-o",class: 'icon'
            = f.file_field :image, class: 'hidden'
        =f.submit 'Send', class: 'form__submit'